$break-small:360px;
$break-large:700px;



@media only screen and (max-width:$break-small){
  .row .col .s2{
    display: flex;
    flex-direction: column;
    margin: 5%;
  }
}

.material-icons{
  background-color: rgb(224, 160, 21);
}
.card-image{
    height: 200px;
}
.card .card-image .card-title {
  font-family: fantasy;
  color: black;
}
.row .col.s3 {
  width: 25%;
  /* margin-left: auto; */
  /* left: auto; */
  /* right: auto; */
}
  