.nav-wrapper {
	background-color: #e46067;
	display: flex;
	justify-content: flex-start;
	.Logo {
		height: 100px;
		border-radius: 180%;

		border-bottom: 1px solid black;
	}
	.brand-logo {
		z-index: 1;
		margin-top: 0%;
		padding-left: 3.5%;
	}
}
