$Mina: Mina, sans-serif;
$white-color: rgb(0, 0, 0);



.TitreJumbotron {
	font: 5em $Mina;
	color: $white-color;
	padding-top: 10.5%;
	margin: 0%;
	
}
.SousTitreJumbotron {
	font: 3em $Mina;
	color:black ;
}
.styleImag{
	height: 500px;
}
.JumbotronResto{
	height: 500px;
	background-size: cover;
	background-color: rgb(128, 118, 118);
	background-blend-mode: multiply;
	width: auto;
	opacity: 0.7;
	.styleImag{
		background-position: 75% 75%;
	}
}
