$Pacifico: Pacifico, cursive;
$color: rgb(150, 93, 7);
$shadow: 0 0 3px #000000, 0 0 5px #000000;

.styleImag {
	height: 500px;
}
.JumbotronResto {
	height: 500px;
	background-size: cover;
	background-color: rgb(129, 126, 126);
	background-blend-mode: multiply;

	width: 100%;
	opacity: 0.8;
	.styleImag {
		background-position: 75% 75%;
		.TitreJumbotron {
			font: 5em $Pacifico;
			color: $color;
			padding-top: 10%;
			margin: 0%;
			text-decoration: underline;
			text-shadow: $shadow;
		}
		.SousTitreJumbotron {
			font: 3em $Pacifico;
			color: $color;
			text-shadow: $shadow;
		}
	}
}
